/* src/components/NavBar.module.css */

.navbar {
    background-color: #eeeee4; /* Light gray background */
    padding: 10px 20px;
  }

  /* Add this to your NavBar.module.css or App.module.css */
.nav-link {
  
  padding: 10px 15px;
}



  
  