/* App.module.css */


  .container{
    background-color: #2596be;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
}

.Main {
  padding-top: 81px;
  font-family: "Sniglet", system-ui;
}

.Content {
  background-color: #eeeee4;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #21130d;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 100vh;
  max-width: 100%;
  object-fit: contain;
}
  
* {
    box-sizing: border-box;
  }
  
a {
    color: #e28743;
    transition: color ease-in-out 0.3s;
  }
  
a:hover {
    text-decoration: none;
  }
  
a:hover i {
    color: #76b5c5;
    transition: color ease-in-out 0.3s;
  }

  input[type="file"] {
    display: none;
  }  
  
i {
    color: #a45c74;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #76b5c5;
  }

  figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #eeeee4;
}
*::-webkit-scrollbar-thumb {
  background: #eab676;
}
*::-webkit-scrollbar-thumb:hover {
  background: #e28743;
  
}